<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Studying</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:if = "${auth.contains('TEACHER')}" class="nav-item active">
                <a class="nav-link" href="/student">Students</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/study">Studying</a>
            </li>
            <li th:if = "${auth.contains('ADMIN')}" class="nav-item active">
                <a class="nav-link" href="/user">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile">My profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/material">Study material</a>
            </li>
            <li class="nav-item active">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row ml-2">
        <div class="col-sm-5">
            <input type="button" id="get-portion" value="Get Portion">
        </div>
        <div class="col-sm-7">
            <th:block th:if = "${topic}" th:text="${topic.title}">...</th:block>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item" th:each="topic, stat : ${topics}">
                    <a tabindex="-1" th:href="@{'/study/' + ${topic.title}}" th:text="${topic.title}">...</a>
                </li>
            </ul>
        </div>
        <div id="content" class="col-md-5 border"></div>
        <div class="col-md-5"><img id="image" class="image" src=""></div>
    </div>
    <input th:type="hidden" th:each="portion, stat : ${portions}" th:value="${portion.content}" th:id="${stat.index}">
    <input th:type="hidden" th:each="portion, stat : ${portions}" th:value="${portion.filename}" th:id="'img' + ${stat.index}">
</div>
<script th:inline="javascript">
    var counter = 0;
    window.onload = function () {
        document.querySelector("#get-portion").onclick = function () {
            var content = document.getElementById(counter.toString()).getAttribute("value");
            if (content != null) {
                document.querySelector("#content").innerHTML = content;
            }
            var filename = document.getElementById("img"+counter.toString()).getAttribute("value");
            if (filename != null) {
                document.querySelector("#image").setAttribute("src", "/src/img/" + filename)
            }
            counter++;
        }
    };
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>